@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

.loginformdiv{
    background-color: #682cd8;
    border: 2px solid black;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
}

.logintitulo{
    font-family: 'Honk', system-ui;
    font-size: 4em;
}

.forminput{
    background-color: white;
}

.forgot-pass{
    color: white;
}

.forgot-pass:hover{
    color: white;
    text-decoration: none;
}

.auth.login-bg{
    background-image: url("Mockup2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
