@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.navbar{
    background-color: #5f13ec;
   
}
.sidebar .sidebar-brand-wrapper{
    background-color: #5f13ec;
}
.sidebar {
    background-color: #5f13ec;
}
.sidebar .nav .nav-item.active > .nav-link {
    background: #ffffff;
    position: relative;
    
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #000000;

}
.sidebar .nav .nav-item .nav-link {
   color:#000000;
}
h1 {
    color: #000000;
   
}


.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
        background: rgb(230, 229, 229);
        color: #000000;
}

.titulo{
    font-family: 'Honk', system-ui;
    
}

.content-wrapper{
    background-color:#ffffff;
}

.sidebar .nav .nav-item .nav-link {
    color:#ffffff;
}

.sidebar .nav.sub-menu .nav-item .nav-link{
    color:#ffffff;
}

.sidebar .nav .nav-item.nav-category .nav-link{
    color:#ffffff;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-name span {
    color:#ffffff
}

.footer{
    background-color: lightgray;
    
}
.navbar .navbar-menu-wrapper .navbar-toggler {
    color:#ffffff;

}

.sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
    color:#ffffff;
}
.navbar .navbar-menu-wrapper .search input {
    background: #ffffff;
}
a:hover{
    text-decoration: none;
}

.sidebar .nav .menu-items:nth-child(5n+3) .nav-link .menu-icon i {
    color: #00AC4A;
}

.navbar .navbar-brand-wrapper{
    background-color: #5f13ec;
}   

.card{
    background-color: lightgrey;
}

.card .card-title {
    color: #000000;
    
}

.text-secondary, .list-wrapper .remove {
    color: #000000 !important;
}

.form-check .form-check-label {
    color: #000000;
}

.menu-title{
    color:#000000;
}

.testeeeeeee{
    color:rgb(187, 187, 187);
}