@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.navbar{
    background-color: #fd6b43;
}
.sidebar .sidebar-brand-wrapper{
    background-color: #fd6b43;
}
.sidebar {
    background-color: #fd6b43;
}
.sidebar .nav .nav-item.active > .nav-link {
    background: #ffffff;
    position: relative;
    
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #000000;

}
.sidebar .nav .nav-item .nav-link {
   color:#000000;
}
h1 {
    color: #000000;
   
}


.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {
        background: #ffffff;
        color: #000000;
}

.titulo{
    font-family: 'Honk', system-ui;
    
}

